* {
    margin: 0;
    padding: 0;
    max-width: 1280px;
}

.menu-header{
    text-align: center;
    color: red;
    height: 30px;
    margin: 10px;
    padding: 20px;
}
a {color: red
}
a {font-weight: bold;
}
a{margin: 50px}
a:link {
    text-decoration: none;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.main {
    text-align: center;
}
.p1 {
    text-align: center;
    padding: 1px;
    margin: 30px;
}
.p2 {
    text-align: center;
    padding: 1px;
    margin: 30px;

}

.button {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: red;
    height: 20px;
    width: 150px;
    padding: 10px;
    margin: 5px;

}

.footer {
    text-align: right;
    padding: 15px;
    margin: 50px;
}

